%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  % warnings_as_errors,
  {parse_transform, lager_transform}
 ]
}.

{cover_enabled, true}.

{deps, [
        {lager, "3.0.1"},
        {epgsql, "3.1.1"},
        {poolboy, "1.5.1"},
        {quintana, "0.2.0"}
       ]
}.
